<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:insert="~{layout/head-admin :: head}"></head>

<style>
    .modal-body::-webkit-scrollbar{display: none}
</style>

<body id="page-top">
<div th:insert="~{layout/loading :: loading}"></div>

<div id="wrapper">
    <!-- side -->
    <ul th:replace="~{layout/side-admin :: side}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Nav -->
            <nav th:replace="~{layout/navi-admin :: nav}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-black-50 krFont">문자 생성기 설정</h1>


                </div>


                <div class="badge-light  row">
                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="1" href="#" onclick="copyText(this)">{totReqAmt}</a>
                        <label for="1" >입금금액</label>
                    </div>

                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="2" href="#" onclick="copyText(this)">{deposNm}</a>
                        <label for="2" >신청자명</label>
                    </div>

                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="3" href="#" onclick="copyText(this)">{toWalletAddr}</a>
                        <label for="3" >지갑주소</label>
                    </div>

                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="4" href="#" onclick="copyText(this)">{tradePrice}</a>
                        <label for="4" >적용시세</label>
                    </div>

                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="5" href="#" onclick="copyText(this)">{sendCoin}</a>
                        <label for="4" >보낼코인양</label>
                    </div>

                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="6" href="#" onclick="copyText(this)">{dstntTag}</a>
                        <label for="4" >데스티네이션태그</label>
                    </div>

                    <div class="card-group col-sm-2">
                        <a class="badge badge-primary" id="7" href="#" onclick="copyText(this)">{transactionId}</a>
                        <label for="4" >트렌젝션아이디</label>
                    </div>






                </div>


                <div class="d-sm-flex align-items-center justify-content-between mb-4">

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>순번</th>
                            <th>제목</th>
                            <th>문자내용</th>
                            <th>저장</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>


            </div>



            <!-- contents -->
        </div>

        <footer th:replace="~{layout/footer-admin :: footer}"></footer>




    </div>
</div>



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!--</body>-->

<!-- Page level custom scripts -->
<!-- Custom scripts for all pages-->
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/sb-admin-2.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/assets/lib/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/lib/datatables/dataTables.bootstrap4.js}"></script>


<script th:src="@{/assets/js/admin/mms.js}"></script>



</body>
</html>