<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:insert="~{layout/head-admin :: head}"></head>

<style>
    .modal-body::-webkit-scrollbar{display: none}
</style>

<body id="page-top">
<div th:insert="~{layout/loading :: loading}"></div>

<div id="wrapper">
    <!-- side -->
    <ul th:replace="~{layout/side-admin :: side}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Nav -->
            <nav th:replace="~{layout/navi-admin :: nav}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-black-50 krFont">사업자 일반정보 설정</h1>
                </div>

                <form id="basicForm" class="row g-3">

                    <div class="col-12">
                        <label for="metaTag" class="form-label">사이트 소개</label>
                        <input type="text" class="form-control" id="metaTag" name="metaTag" placeholder="1234 Main St">
                    </div>



                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label" for="salName">사업자명</label>
                            <input class="form-control form-control-user" id="salName" name="salName" placeholder="차단문구" >
                        </div>

                        <div class="col">
                            <label class="form-label" for="oderName">대표자명</label>
                            <input class="form-control form-control-user" id="oderName" name="oderName" placeholder="차단문구" >
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label" for="salSno">사업자등록번호</label>
                            <input class="form-control form-control-user" id="salSno" name="salSno" placeholder="차단문구" >
                        </div>

                        <div class="col">
                            <label class="form-label" for="firstPhoneNo">대표 전화번호</label>
                            <input class="form-control form-control-user" id="firstPhoneNo" name="firstPhoneNo" placeholder="차단문구" >
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label" for="kakaoOpenUrl">카카오 오픈채팅</label>
                            <input class="form-control form-control-user" id="kakaoOpenUrl" name="kakaoOpenUrl" placeholder="차단문구" >
                        </div>

                        <div class="col">
                            <label class="form-label" for="telegramId">텔레그램 ID</label>
                            <input class="form-control form-control-user" id="telegramId" name="telegramId" placeholder="차단문구" >
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label" for="phoneNo">모바일</label>
                            <input class="form-control form-control-user" id="phoneNo" name="phoneNo" placeholder="차단문구" >
                        </div>

                        <div class="col">
                            <label class="form-label" for="email">이메일</label>
                            <input class="form-control form-control-user" id="email" name="email" placeholder="차단문구" >
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label" for="bankAcc1">입금기업</label>
                            <input class="form-control form-control-user" id="bankAcc1" name="bankAcc1" placeholder="차단문구" >
                        </div>

                        <div class="col">
                            <label class="form-label" for="bankAcc2">입금우리</label>
                            <input class="form-control form-control-user" id="bankAcc2" name="bankAcc2" placeholder="차단문구" >
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label" for="bankAcc3">입금농협</label>
                            <input class="form-control form-control-user" id="bankAcc3" name="bankAcc3" placeholder="차단문구" >
                        </div>

                        <div class="col">
                            <label class="form-label" for="bankAcc4">계좌번호4</label>
                            <input class="form-control form-control-user" id="bankAcc4" name="bankAcc4" placeholder="차단문구" >
                        </div>
                    </div>





                </form>





                <div class="d-sm-flex align-items-center justify-content-between mb-4">

                </div>




            </div>



            <!-- contents -->
        </div>

        <footer th:replace="~{layout/footer-admin :: footer}"></footer>




    </div>
</div>



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!--</body>-->

<!-- Page level custom scripts -->
<!-- Custom scripts for all pages-->
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/sb-admin-2.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/assets/lib/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/lib/datatables/dataTables.bootstrap4.js}"></script>


<script th:src="@{/assets/js/admin/mms.js}"></script>



</body>
</html>