<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:insert="~{layout/head-admin :: head}"></head>

<style>
    .modal-body::-webkit-scrollbar{display: none}
    .ck-editor__editable { height: 400px; }
</style>


<body id="page-top">
<div th:insert="~{layout/loading :: loading}"></div>

<div id="wrapper">
    <!-- side -->
    <ul th:replace="~{layout/side-admin :: side}"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Nav -->
            <nav th:replace="~{layout/navi-admin :: nav}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->

                <form id="frontForm">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-black-50 krFont">영업시간 설정</h1>
                    </div>


                    <div class="form-group row mb-3 mb-sm-0">
                        <div class="col-sm-auto bg-gray-100 mb-1 rounded">
                            <p>시작시간</p>
                        </div>
                        <div class="col-sm-auto">
                            <select class="form-select mb-3" id="openTime" name="openTime" style="font-size: 0.8rem;">
                                <option style="background-color: white" value="">선택해주세요</option>
                                <option style="background-color: white" value="0">00시</option>
                                <option style="background-color: white" value="1">01시</option>
                                <option style="background-color: white" value="2">02시</option>
                                <option style="background-color: white" value="3">03시</option>
                                <option style="background-color: white" value="4">04시</option>
                                <option style="background-color: white" value="5">05시</option>
                                <option style="background-color: white" value="6">06시</option>
                                <option style="background-color: white" value="7">07시</option>
                                <option style="background-color: white" value="8">08시</option>
                                <option style="background-color: white" value="9">09시</option>
                                <option style="background-color: white" value="10">10시</option>
                                <option style="background-color: white" value="11">11시</option>
                                <option style="background-color: white" value="12">12시</option>
                                <option style="background-color: white" value="13">13시</option>
                                <option style="background-color: white" value="14">14시</option>
                                <option style="background-color: white" value="15">15시</option>
                                <option style="background-color: white" value="16">16시</option>
                                <option style="background-color: white" value="16">17시</option>
                                <option style="background-color: white" value="16">18시</option>
                                <option style="background-color: white" value="16">19시</option>
                                <option style="background-color: white" value="16">20시</option>
                                <option style="background-color: white" value="16">21시</option>
                                <option style="background-color: white" value="16">22시</option>
                                <option style="background-color: white" value="16">23시</option>

                            </select>

                        </div>

                        <div class="col-sm-auto bg-gray-100 mb-1 rounded">
                            <p class="krFont">종료시간</p>
                        </div>
                        <div class="col-sm-auto">
                            <select class="form-select mb-3" id="closeTime" name="closeTime" style="font-size: 0.8rem;">
                                <option style="background-color: white" value="">선택해주세요</option>
                                <option style="background-color: white" value="0">00시</option>
                                <option style="background-color: white" value="1">01시</option>
                                <option style="background-color: white" value="2">02시</option>
                                <option style="background-color: white" value="3">03시</option>
                                <option style="background-color: white" value="4">04시</option>
                                <option style="background-color: white" value="5">05시</option>
                                <option style="background-color: white" value="6">06시</option>
                                <option style="background-color: white" value="7">07시</option>
                                <option style="background-color: white" value="8">08시</option>
                                <option style="background-color: white" value="9">09시</option>
                                <option style="background-color: white" value="10">10시</option>
                                <option style="background-color: white" value="11">11시</option>
                                <option style="background-color: white" value="12">12시</option>
                                <option style="background-color: white" value="13">13시</option>
                                <option style="background-color: white" value="14">14시</option>
                                <option style="background-color: white" value="15">15시</option>
                                <option style="background-color: white" value="16">16시</option>
                                <option style="background-color: white" value="16">17시</option>
                                <option style="background-color: white" value="16">18시</option>
                                <option style="background-color: white" value="16">19시</option>
                                <option style="background-color: white" value="16">20시</option>
                                <option style="background-color: white" value="16">21시</option>
                                <option style="background-color: white" value="16">22시</option>
                                <option style="background-color: white" value="16">23시</option>
                            </select>
                        </div>

                    </div>


                    <hr class="sidebar-divider">


                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-black-50 krFont">사이트 차단 설정</h1>
                    </div>

                    <div class="row">
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="mtnMsgYn">
                                <input type="hidden" name="mtnMsgYn" value="N">
                                <label class="form-check-label" for="mtnMsgYn">노출여부</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="mtnYn">
                                <input type="hidden" name="mtnYn" value="N">
                                <label class="form-check-label" for="mtnYn">시스템차단여부</label>
                            </div>
                        </div>
                    </div>



                    <div class="row mt-2">
                        <div class="bg-gray-100 mb-1 rounded col-3">
                            <p>시스템 차단 문구</p>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control form-control-user" id="mtnMsg" name="mtnMsg" placeholder="차단문구" style="height: 150px;"></textarea>
                        </div>
                    </div>

                    <hr class="sidebar-divider">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-2">
                        <h1 class="h3 mb-0 text-black-50 krFont">메인페이지 팝업 설정</h1>
                    </div>

                    <div class="row">
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"  id="ntc1Yn" >
                                <input type="hidden" name="ntc1Yn" value="N">
                                <label class="form-check-label" for="ntc1Yn">노출여부</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-auto bg-gray-100 mb-1 rounded">
                            <input type="text" class="form-control form-control-user" id="ntc1Title" name="ntc1Title" placeholder="공지2제목">
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control form-control-user" id="ntc1Msg" name="ntc1Msg" placeholder="공지1내용" style="height: 150px;"></textarea>
                        </div>
                    </div>

                    <hr class="sidebar-divider">

                    <div class="row mt-2">
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="ntc2Yn">
                                <input type="hidden" name="ntc2Yn" value="N">
                                <label class="form-check-label" for="ntc2Yn">노출여부</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: 450px">
                        <div class="col-sm-auto bg-gray-100 mb-1 rounded">
                            <input type="text" class="form-control form-control-user" id="ntc2Title" name="ntc2Title" placeholder="공지2제목">
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control form-control-user" id="ntc2Msg" name="ntc2Msg" placeholder="공지2내용"></textarea>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="btn-group">
                            <button class="btn btn-primary" id="submit" type="button" onclick="save();">변경사항 저장하기</button>
                        </div>
                    </div>


                </form>



            </div>



            <!-- contents -->
        </div>

        <footer th:replace="~{layout/footer-admin :: footer}"></footer>




    </div>
</div>



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!--</body>-->

<!-- Page level custom scripts -->
<!-- Custom scripts for all pages-->
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/sb-admin-2.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/assets/lib/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/lib/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/assets/lib/ckeditor/build/ckeditor.js}"></script>


<script th:src="@{/assets/js/admin/front.js}"></script>




</body>
</html>