<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:insert="~{layout/head-admin :: head}"></head>

<style>
    .modal-body::-webkit-scrollbar{display: none}
</style>

<body id="page-top">
<div th:insert="~{layout/loading :: loading}"></div>

<div id="wrapper">
    <!-- side -->
    <ul th:replace="~{layout/side-admin :: side}"></ul>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content" >

            <!-- Nav -->
            <nav th:replace="~{layout/navi-admin :: nav}"></nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h4 mb-0 text-black-50 krFont">시세정보</h1>


                </div>


                <!-- Content Row -->
                <div class="row">

                    <!-- 비트코인 시세 -->
                    <div class="col-4 col-md-4 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            비트코인 (KWR-BTC)</div>
                                        <div class="x-small mb-0 font-weight-bold text-gray-800" id="KRW-BTC"></div>
                                    </div>
<!--                                    <div class="col-auto">-->
<!--                                        <i class="fas fa-hand-holding fa-2x text-gray-300"></i>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--이더리움 시세 -->
                    <div class="col-4 col-md-4 mb-4">
                        <div class="card border-left-success shadow h-100 py-2" id="allSelect">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1" >
                                            이더리움 (KWR-ETH)</div>
                                        <div class="x-small mb-0 font-weight-bold text-gray-800" id="KRW-ETH"></div>
                                    </div>
<!--                                    <div class="col-auto">-->
<!--                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--리플 시세 -->
                    <div class="col-4 col-md-4 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2" id="cashSelect">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            리플 (KWR-XRP)</div>
                                        <div class="x-small mb-0 font-weight-bold text-gray-800" id="KRW-XRP"></div>
                                    </div>
<!--                                    <div class="col-auto">-->
<!--                                        <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Page Heading -->
                <h1 class="h4 mb-0 text-black-50 krFont">대행주문목록</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
<!--                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->

                            <!-- 추가 -->
                            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                                <div class="col-5 mt-3">
                                <select class="form-select mb-3" id="keyword" name="keyword" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="" selected>전체</option>
                                    <option style="background-color: white" value="deposNm" >입금자명</option>
                                    <option style="background-color: white" value="phoneNo" >전화번호</option>
                                    <option style="background-color: white" value="coinType">코인종류</option>
                                    <option style="background-color: white" value="toWalletAddr" >지갑주소</option>
                                    <option style="background-color: white" value="clientIp" >접속IP</option>

                                </select>
                                </div>

                                <ul class="navbar-nav ml-auto">

                                <!-- Nav Item - Search Dropdown (Visible Only XS) 입금자명, 입력내용, 전화번호,지갑주소,접속IP -->
                                <li class="nav-item dropdown no-arrow d-sm-none">
                                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-search fa-fw"></i>
                                    </a>
                                    <!-- Dropdown - Messages -->
                                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                         aria-labelledby="searchDropdown">
                                        <form class="form-inline mr-auto w-100 navbar-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control bg-light border-0 small"
                                                       id="navSearchContents"
                                                       onkeydown="javascript:if(event.keyCode==13)search(true);"
                                                       placeholder="Search for..." aria-label="Search"
                                                       aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button" onclick="search(true);">
                                                        <i class="fas fa-search fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                </ul>

                                <!-- Topbar Search -->
                                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               id="searchContents"
                                               placeholder="Search for..."
                                               onkeydown="javascript:if(event.keyCode==13)search(true);">
                                        <div class="input-group-append">
                                            <div class="btn btn-primary" id="mainSearch" onclick="search(true);">
                                                <i class="fas fa-search fa-sm"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </nav>
                            <!-- // -->



                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>코인</th>
                                            <th>입금금액</th>
                                            <th>입금자명</th>
                                            <th>전화번호</th>
                                            <th>현재단계</th>
                                            <th>주문메모</th>
                                            <th>등록일시</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                <div th:insert="~{admin/transDtlModal :: transDtlModal}"></div>
            </div>



            <!-- contents -->
            </div>

            <footer th:replace="~{layout/footer-admin :: footer}"></footer>




        </div>
    </div>



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!--</body>-->

<!-- Page level custom scripts -->
<!-- Custom scripts for all pages-->
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/sb-admin-2.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/assets/lib/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/lib/datatables/dataTables.bootstrap4.js}"></script>


<script th:src="@{/assets/js/admin/main.js}"></script>



</body>
</html>