<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="transDtlModal">
    <div class="modal fade" id="transDtlModal" tabindex="-1"  aria-labelledby="transDtlModalLabel" aria-hidden="true" role="dialog"  data-bs-backdrop='static' data-bs-keyboard="false" >
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content w-100">

                <div class="modal-header">
                    <h5 class="modal-title" id="accountDtlModalLabel"> 대행신청관리 상세</h5>
                    <button class="close" type="button" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body" id="modalBody">
                    <form id="transDtlForm" class="row g-3">
                        <input type="hidden" id="reqno"     name="reqno">
                        <input type="hidden" id="sendCoin"  name="sendCoin">
                        <input type="hidden" id="prcsCd"    name="prcsCd">
                        <input type="hidden" id="rcptDttm"  name="rcptDttm">
                        <input type="hidden" id="bankCd"    name="bankCd">

                        <div class="form-group row mb-3 mb-sm-0 mt-4">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>코인(종류)</p>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-select mb-3" id="coinType" name="coinType" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="">선택해주세요</option>
                                    <option style="background-color: white" value="KRW-BTC">비트코인(BTC)</option>
                                    <option style="background-color: white" value="KRW-ETH">이더리움(ETH)</option>
                                    <option style="background-color: white" value="KRW-XRP">리플(XRP)</option>
                                </select>

                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p class="krFont">계산방식</p>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-select mb-3" id="chargeCd" name="chargeCd" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="">선택해주세요</option>
                                    <option style="background-color: white" value="I">수수료별도</option>
                                    <option style="background-color: white" value="T">수수료포함</option>
                                    <option style="background-color: white" value="C" disabled>코인수량신청</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3">
                                <label class="form-label" for="deposNm">신청자명</label>
                                <input class="form-control form-control-user" id="deposNm" name="deposNm" placeholder="신청자명">
                            </div>

                            <div class="col-sm-6">
                                <label class="form-label" for="phoneNo">휴대폰번호</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-user" id="phoneNo" name="phoneNo" placeholder="휴대폰번호" value="">
                                    <button  type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="form-label" for="regDttm">신청시간</label>
                                <input type="text" class="form-control" id="regDttm" name="regDttm" placeholder="신청시간">
                            </div>

                        </div>


                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label" for="clientIp">접속기록</label>
                                <input type="text" class="form-control" id="clientIp" name="clientIp" placeholder="접속기록">
                            </div>
                            <div class="col">
                               <label class="form-label" for="deviceType">접속기기</label>
                               <input type="text" class="form-control" id="deviceType" name="deviceType" placeholder="접속경로" >
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <label class="form-label" for="prcsCd6Cnt">총 완료횟수 / 당일 완료횟수</label>
                                <input type="text" class="form-control text-danger" id="prcsCd6Cnt" name="prcsCd6Cnt" disabled value="0">
                            </div>

                            <div class="col-sm-8">
                                <label class="form-label" for="refererUrl">레퍼러</label>
                                <input type="text" class="form-control" id="refererUrl" name="refererUrl" placeholder="접속경로">
                            </div>
                        </div>

<!--                        <div class="row mt-3">-->
<!--                            <div class="col">-->
<!--                                <label class="form-label" for="refererUrl">레퍼러</label>-->
<!--                                <input type="text" class="form-control" id="refererUrl" name="refererUrl" placeholder="접속경로">-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="row mt-3">

                            <div class="col">
                                <label class="form-label" for="reqAmt">신청금액</label>
                                <input type="text" class="form-control" id="reqAmt" name="reqAmt" placeholder="금액">
                            </div>

                            <div class="col">
                                <label class="form-label" for="chargeAmt">수수료</label>
                                <input type="text" class="form-control" id="chargeAmt" name="chargeAmt" placeholder="수수료" >
                            </div>

                            <div class="col">
                                <label class="form-label" for="totReqAmt">입금금액</label>
                                <input type="text" class="form-control" id="totReqAmt" name="totReqAmt" placeholder="입금금액" >
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label" for="nowPrice">현재시세</label>
                                <input type="text" class="form-control form-control-user" id="nowPrice" name="nowPrice" placeholder="지금코인시세">
                            </div>
                            <div class="col">
                                <label class="form-label" for="tradePrice">적용시세</label>
                                <input type="text" class="form-control form-control-user" id="tradePrice" name="tradePrice" placeholder="요청당시시세">
                            </div>
                        </div>

                        <!-- 변경하기 -->
                        <div class="row mt-3">
                            <div class="input-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="accType" id="inlineRadio1" value="N">
                                    <label class="form-check-label" for="inlineRadio1">현재시세</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="accType" id="inlineRadio2" checked value="R">
                                    <label class="form-check-label" for="inlineRadio2">적용시세</label>
                                </div>
                                <button id="goCalc" name="" type="button" class="btn btn-primary custom-control-inline" onclick="sendingCoinCalc();">계산실행</button>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col" style="margin-right: -20px;">
                                <label class="form-label" for="transCoin">보낼코인양</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="transCoin" name="transCoin" placeholder="보낼코인양">
                                    <button type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                            <div class="col">
                                <label class="form-label" for="calcPrice">가치확인</label>
                                <input type="text" class="form-control form-control-user" id="calcPrice" name="calcPrice" placeholder="">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <label class="form-label" for="toWalletAddr">지갑주소</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="toWalletAddr" name="toWalletAddr" placeholder="지갑주소">
                                <button type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                            </div>

                        </div>


                        <div class="row mt-3" id="memoArea" style="display: none">
                            <label class="form-label" for="memo">메모</label>
                            <input type="text" class="form-control text-danger" id="memo" name="memo" placeholder="메모">

                        </div>


                        <div class="row mt-3">
                            <label class="form-label" for="dstntTag">데스티네이션 태그</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="dstntTag" name="dstntTag" placeholder="데스티네이션 태그">
                                <button type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <label class="form-label" for="transactionId">트랜젝션 ID</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="transactionId" name="transactionId" autocomplete="off" placeholder="트랜젝션 ID">
                                <button type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <label class="form-label" for="rsnCtnt">주문메모</label>
                            <textarea class="form-control" id="rsnCtnt" name="rsnCtnt" placeholder="주문메모"></textarea>

                        </div>

<!--                        <div class="row mt-3">-->
<!--                            <label class="form-label" for="memo">현재단계</label>-->
<!--                            <input type="text" class="form-control form-control-user" id="prcsNm" placeholder="현재단계">-->
<!--                        </div>-->

                        <div class="row mt-3">
                            <label class="form-label" for="modDttm">처리시각</label>
                            <input type="text" class="form-control" id="modDttm" name="modDttm" placeholder="처리시각">
                        </div>



                        <div class="form-group row mt-3">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>업무처리</p>
                            </div>
                            <div class="col-sm-10">
                               <div class="btn-group">
                                   <button class="btn btn-light" id="prcs_cd_1" name="prcsCds" type="button" >신규신청</button>
                                   <button class="btn btn-light" id="prcs_cd_2" name="prcsCds" type="button" >입금기업</button>
                                   <button class="btn btn-light" id="prcs_cd_3" name="prcsCds" type="button" >입금우리</button>
                                   <button class="btn btn-light" id="prcs_cd_4" name="prcsCds" type="button" >입금농협</button>
                                   <button class="btn btn-light" id="prcs_cd_5" name="prcsCds" type="button" >코인전송</button>
                                   <button class="btn btn-light" id="prcs_cd_6" name="prcsCds" type="button" >처리완료</button>
                                   <button class="btn btn-light" id="prcs_cd_7" name="prcsCds" type="button" >취소완료</button>
                                   <button class="btn btn-light" id="prcs_cd_8" name="prcsCds" type="button" >TXID</button>
                                   <button class="btn btn-light" id="prcs_cd_9" name="prcsCds" type="button" >인증요구</button>
                               </div>
                            </div>

                        </div>

                        <div class="form-group row mt-3">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>문자생성</p>
                            </div>
                            <div class="col-sm-10">
                                <div class="btn-group">
                                <select class="form-select mb-3" id="mmsFormat" name="mmsFormat" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="" selected>현재단계</option>
                                </select>
                                <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="createMms(this)">생성하기</button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                    <p>문자내용</p>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group-append">
                                        <textarea class="form-control form-control-user" style="height: 150px" id="mmsContents" name="mmsContents" placeholder="문자내용"></textarea>
                                        <button type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                    </div>

                                </div>

                            </div>



                        </div>


                    </form>

                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-primary" id="submit" type="button" onclick="save();">변경사항 저장하기</button>
                            <button class="btn btn-secondary" type="button" onclick="cancel();">취소</button>
                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>

    <script th:src="@{/assets/js/admin/transDtlModal.js}"></script>
</div>
</html>