<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="transDtlModal">
    <div class="modal fade" id="transDtlModal" tabindex="-1"  aria-labelledby="transDtlModalLabel" aria-hidden="true" role="dialog"  data-bs-backdrop='static' data-bs-keyboard="false" >
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content w-100">

                <div class="modal-header">
                    <h5 class="modal-title" id="accountDtlModalLabel"> 대행신청관리 상세</h5>
                    <button class="close" type="button" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body" id="modalBody">
                    <form id="transDtlForm">
                        <input type="hidden" id="reqno"     name="reqno">
                        <input type="hidden" id="sendCoin"  name="sendCoin">
                        <input type="hidden" id="prcsCd"    name="prcsCd">
                        <input type="hidden" id="rcptDttm"  name="rcptDttm">
                        <input type="hidden" id="bankCd"    name="bankCd">

                        <div class="form-group row mb-3 mb-sm-0">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>코인(종류)</p>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-select mb-3" id="coinType" name="coinType" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="">선택해주세요</option>
                                    <option style="background-color: white" value="KRW-BTC">비트코인(BTC)</option>
                                    <option style="background-color: white" value="KRW-ETH">이더리움(ETH)</option>
                                    <option style="background-color: white" value="KRW-XRP">리플(XRP)</option>
                                </select>

                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p class="krFont">계산방식</p>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-select mb-3" id="chargeCd" name="chargeCd" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="">선택해주세요</option>
                                    <option style="background-color: white" value="I">수수료별도</option>
                                    <option style="background-color: white" value="T">수수료포함</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>신청자명</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="deposNm" name="deposNm" placeholder="신청자명" disabled>
                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>휴대폰번호</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                <input type="text" class="form-control form-control-user" id="phoneNo" name="phoneNo" placeholder="휴대폰번호" value="" disabled>
                                <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>신청시간</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="regDttm" name="regDttm" placeholder="신청시간">
                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>접속기록</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="clientIp" name="clientIp" placeholder="접속기록">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>완료횟수/최종완료</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="prcsCd6Cnt" name="prcsCd6Cnt" value="0">
                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>레퍼러</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="refererUrl" name="refererUrl" placeholder="접속경로">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-1 bg-gray-100 mb-1 rounded">
                                <p>신청금액</p>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-user" id="reqAmt" name="reqAmt" placeholder="금액">
                            </div>

                            <div class="col-sm-1 bg-gray-100 mb-1 rounded">
                                <p>수수료</p>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-user" id="chargeAmt" name="chargeAmt" placeholder="접속경로">
                            </div>

                            <div class="col-sm-1 bg-gray-100 mb-1 rounded">
                                <p>입금금액</p>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-user" id="totReqAmt" name="totReqAmt" placeholder="접속경로">
                            </div>

                            <div class="col-sm-1 bg-gray-100 mb-1 rounded">
                                <p>접속기기</p>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-user" id="deviceType" name="deviceType" placeholder="접속경로">
                            </div>

                        </div>


                        <div class="form-group row">

                            <div class="col-sm-1 bg-gray-100 mb-1 rounded">
                                <p>현재시세</p>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-user" id="nowPrice" name="nowPrice" placeholder="지금코인시세">
                            </div>

                            <div class="col-sm-1 bg-gray-100 mb-1 rounded">
                                <p>적용시세</p> <!-- 요청당시 코인시세금액 -->
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-user" id="tradePrice" name="tradePrice" placeholder="요청당시시세">
                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>보낼코인양 가치확인</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="calcPrice" name="calcPrice" placeholder="">
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>변경하기</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="accType" id="inlineRadio1" value="N">
                                        <label class="form-check-label" for="inlineRadio1">현재시세</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="accType" id="inlineRadio2" checked value="R">
                                        <label class="form-check-label" for="inlineRadio2">적용시세</label>
                                    </div>
                                    <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="sendingCoinCalc();">계산실행</button>
                                </div>
                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>보낼코인양</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-user" id="transCoin" name="transCoin" placeholder="보낼코인양">
                                    <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>지갑주소</p>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-user" id="toWalletAddr" name="toWalletAddr" disabled placeholder="지갑주소">
                                    <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row" id="memoArea" style="display: none">

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>메모</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-user" id="memo" name="memo" placeholder="메모">
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>데스티네이션 태그</p>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-user" id="dstntTag" name="dstntTag" placeholder="데스티네이션 태그">
                                    <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>트랜젝션 ID</p>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-user" id="transactionId" name="transactionId" placeholder="트랜젝션 ID">
                                    <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="copyText(this)">복사하기</button>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>주문메모</p>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control form-control-user" id="rsnCtnt" name="rsnCtnt" placeholder=""></textarea>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>현재단계</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="prcsNm" placeholder="현재단계">
                            </div>

                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>처리시각</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-control-user" id="modDttm" name="modDttm" placeholder="처리시각">
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>업무처리</p>
                            </div>
                            <div class="col-sm-10">
                               <div class="btn-group">
                                   <button class="btn btn-light" id="prcs_cd_1" name="prcsCds" type="button" >신규신청</button>
                                   <button class="btn btn-light" id="prcs_cd_2" name="prcsCds" type="button" >입금기업</button>
                                   <button class="btn btn-light" id="prcs_cd_3" name="prcsCds" type="button" >입금우리</button>
                                   <button class="btn btn-light" id="prcs_cd_4" name="prcsCds" type="button" >입금농협</button>
                                   <button class="btn btn-light" id="prcs_cd_5" name="prcsCds" type="button" >코인전송</button>
                                   <button class="btn btn-light" id="prcs_cd_6" name="prcsCds" type="button" >처리완료</button>
                                   <button class="btn btn-light" id="prcs_cd_7" name="prcsCds" type="button" >취소완료</button>
                                   <button class="btn btn-light" id="prcs_cd_8" name="prcsCds" type="button" >TXID</button>
                                   <button class="btn btn-light" id="prcs_cd_9" name="prcsCds" type="button" >인증요구</button>
                               </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                <p>문자생성</p>
                            </div>
                            <div class="col-sm-10">
                                <div class="btn-group">
                                <select class="form-select mb-3" id="mmsFormat" name="mmsFormat" style="font-size: 0.8rem;">
                                    <option style="background-color: white" value="" selected>현재단계</option>

                                </select>
                                <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="createMms(this)">생성하기</button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2 bg-gray-100 mb-1 rounded">
                                    <p>문자내용</p>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group-append">
                                        <textarea class="form-control form-control-user" id="mmsContents" name="mmsContents" placeholder="문자내용"></textarea>
                                        <button id="" name="" type="button" class="btn btn-primary custom-control-inline" onclick="createMms(this)">생성하기</button>
                                    </div>

                                </div>

                            </div>

                            <!-- 테스트 -->
                            <div class="input-group row">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="toWalletAddr2" name="toWalletAddr2" type="text" placeholder="" />
                                    <label for="toWalletAddr2" class="krFont" style="left:10px">라벨확인</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input class="form-control" id="toWalletAddr3" name="toWalletAddr3" type="text" placeholder="" />
                                    <label for="toWalletAddr3" class="krFont" style="left:10px">워워워</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="toWalletAddr1" name="toWalletAddr1" type="text" placeholder="" />
                                    <label for="toWalletAddr1" class="" style="left:10px">라벨확인</label>
                                </div>
                            </div>
                            <!-- // -->


                        </div>


                    </form>

                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-primary" id="submit" type="button" onclick="save();">변경사항 저장하기</button>
                            <button class="btn btn-secondary" id="prcs_cd_2" type="button" onclick="cancel();">취소</button>
                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>

    <script th:src="@{/js/admin/transDtlModal.js}"></script>
</div>
</html>