<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modal">

<!--(1) TransReq Modal-->
<div class="modal fade" id="transReqModal" tabindex="-1"  aria-labelledby="transReqModalLabel" aria-hidden="true" role="dialog"  data-bs-backdrop='static' data-bs-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header bg-gradient-primary-to-secondary p-4">
            <h5 class="modal-title font-alt text-white krFont" id="transReqModalLabel">구매 및 전송 대행 신청하기</h5>
            <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body border-0 p-4">

            <!-- 코인선택 -->
            <div class="row btn-group">
                <p class="krFont">구매 및 전송할 코인 종류를 선택해주세요.</p>
                <div class="col-4">
                    <button name="coinType" class="btn btn-light col-12 krFont" type="button" style="min-height: 70px;" onclick="cointTypeSelect(this, 'KRW-XRP');">리플(XRP)</button>
                </div>
                <div class="col-4">
                    <button name="coinType" class="btn btn-light  col-12 krFont" type="button" style="min-height: 70px;" onclick="cointTypeSelect(this, 'KRW-BTC');">비트코인(BTC)</button>
                </div>
                <div class="col-4">
                    <button name="coinType" class="btn btn-light  col-12 krFont" type="button" style="min-height: 70px;" onclick="cointTypeSelect(this, 'KRW-ETH');">이더리움(ETH)</button>
                </div>
            </div>

            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                <!-- 코인종류 -->
                <input type="hidden" name="coinType" id="coinType"/>
                <!-- 시세금액 -->
                <input type="hidden" name="tradePrice" id="tradePrice"/>
                <!-- 접속기기정보 -->
                <input type="hidden" name="deviceType" id="deviceType"/>
                <!-- 접근경로정보 -->
                <input type="hidden" name="refererUrl" id="refererUrl" value="-"/>

                <!-- 수수료방식 선택 -->
                <div class="row mb-3">
                    <p class="krFont">수수료 방식을 선택해주세요.&nbsp;&nbsp;<a href="#"> <span class="xl-small">수수료 방식 자세히보기</span></a></p>
                    <div class="col-sm-10">
    <!--                    <div class="form-check form-check-inline">-->
    <!--                        <input class="form-check-input" type="radio" name="accType" id="inlineRadio1" value="" checked>-->
    <!--                        <label class="form-check-label krFont" for="inlineRadio1">아래의 수수료 계산 방식을 선택해주세요.</label>-->
    <!--                    </div>-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="chargeCd" id="inlineRadio2" value="I" onclick="chargeTypeSelect();">
                            <label class="form-check-label krFont" for="inlineRadio2">수수료 별도 (신청금액코인전송+수수료=입금금액) 방식</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="chargeCd" id="inlineRadio3" value="T" onclick="chargeTypeSelect();">
                            <label class="form-check-label krFont" for="inlineRadio3">수수료 포함 ((신청금액=입금금액)-수수료=전송코인) 방식</label>
                        </div>
                    </div>
                </div>





                <div id="inputGroup" style="display: none">
                    <!-- 신청금액 -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="reqAmt" name="reqAmt" inputmode="numeric"
                               type="text" placeholder="신청금액을 입력해주세요."
                               onkeyup="changeAmtListener(this);"
                        />
                        <label for="reqAmt" class="krFont">신청금액을 입력해주세요.</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">신청금액은 필수값 입니다.</div>
                    </div>
                    <!-- 수수료금액 -->
                    <div class="form-floating mb-3">
                        <input class="form-control disabled" id="chargeAmt" name="chargeAmt"
                               type="text" placeholder="수수료 금액입니다."
                               disabled
                        />
                        <label for="chargeAmt" class="krFont">수수료 금액입니다.</label>
                    </div>
                    <!-- 총 입금액 -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="totReqAmt" name="totReqAmt"
                               type="text" placeholder="" data-sb-validations="required"
                                disabled
                        />
                        <label for="totReqAmt" class="krFont">입금하셔야할 금액입니다.</label>
                        <span class="krFont xl-small text-bg-primary fst-italic">※ 수수료 별도시 신청금액과  입금해야할 금액은 다르므로 꼭 확인해주세요.</span>
                    </div>


                    <!-- 전송코인 예상수량 -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="sendCoin" name="sendCoin"
                               type="text" placeholder="" data-sb-validations="required"
                               disabled
                        />
                        <label for="sendCoin" class="krFont">전송되는 코인의 예상수량입니다.</label>
                        <!-- 원화가치환산 -->
                        <div class="row input-group mt-2 ms-1">
                            <div class="col-5 col-sm-2">
                                <span class="krFont x-small">원화로 가치환산시</span>
                            </div>
                            <div class="col-6 col-sm-2">
                                <span id="krwChange" class="krFont x-small">0 원</span>
                            </div>
                        </div>
                        <span class="krFont xl-small fst-italic">※ 시세 변동에 따라 수량은 달라질 수 있습니다.</span>
                    </div>

                    <!-- 원화가치환산 -->
<!--                    <div class="form-floating mb-3">-->
<!--                        <div class="row input-group">-->
<!--                            <div class="col-5 col-sm-8">-->
<!--                                <span class="krFont x-small">원화로 가치환산시</span>-->
<!--                            </div>-->
<!--                            <div class="col-6 col-sm-8">-->
<!--                                <p id="krwChange1">200000</p>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->

                    <!-- 지갑주소 -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="toWalletAddr" name="toWalletAddr" type="text"
                               placeholder="" data-sb-validations="required" onkeyup="changeAddrListener(this);" />
                        <label for="toWalletAddr" class="krFont"></label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">[필수입력] 지갑주소 확인 후 입력하세요.</div>
                        <span class="krFont xl-small fst-italic" id="repleShow1" style="display:none">rNxp4h~~~ 리플지갑의 첫문자는 r 로 시작합니다.</span>

                    </div>

                    <!-- 데스티네이션 태그 -->
                    <div class="form-floating mb-3" id="repleShow2" style="display:none">
                        <input class="form-control" id="dstntTag" name="dstntTag" type="text"
                               placeholder="" data-sb-validations="required" onkeyup="changeDstntListener(this);"/>
                        <label for="dstntTag" class="krFont">데스티네이션 태그(MEMO)를 입력해주세요.</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">[필수입력]태그유무 반드시 확인후 없다면 없음 입력</div>
                        <span class="krFont xl-small fst-italic">
                            ※ 리플은 지갑주소와 태그(숫자4~10자리)는 보통 지갑주소 바로 밑에 표시됩니다.
                            지갑주소만 있고 태그가 없는 경우는 “없음”으로 입력해주세요.
                        </span>

                    </div>

                    <!-- 입금자명 -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="deposNm" name="deposNm" type="text"
                               placeholder="" data-sb-validations="required" onkeyup="changeNameListener(this);"/>
                        <label for="deposNm" class="krFont">입금자명을 입력해주세요.</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">입금자명은 필수입력값입니다.</div>
                        <span class="krFont xl-small fst-italic">※ 계좌이체시 명의인과 입금자명이 동일해야합니다.</span>
                    </div>

                    <!-- 휴대폰번호 maxlength="11" -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phoneNo" name="phoneNo" inputmode="numeric"
                               type="text"  placeholder="" data-sb-validations="required" onkeyup="changePhoneListener(this);"/>
                        <label for="phoneNo" class="krFont">휴대폰 번호를 입력해주세요.</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">휴대폰번호는 필수 입력값입니다.</div>
                        <span class="krFont xl-small fst-italic">※ 진행사항을 문자로 안내드립니다.</span>
                    </div>

                    <!-- 목적, 기타 내용 -->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="rsnCtnt" name="rsnCtnt" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="rsnCtnt" class="krFont">구매 대행의 목적 또는 기타 내용이 있으시면 입력해주세요.</label>
                    </div>

                    <!-- 주의사항 -->
                    <div class="form-floating mb-3">
                        <span class="row krFont text-bg-warning justify-content-around">
                            주의사항
                        </span>
                        <span class="krFont x-small">
                            입력한 입금자명과 입금시 계좌 명의인은 동일해야합니다. (입금자명변경 입금절대금지)
                            국내시세와 해외시세가 달라서 해외시세기준으로 하는 곳은 금액차이가 발생할 수 있습니다.
                            법인계좌에서의 입금은 받지 않으니 입금자명 바꾸어 입금시도를 하지 마시기 바랍니다.
                            암호화페는 전송후에는 취소나 변경이 안되는 방식입니다. 확실한 거래만 신청하세요
                        </span>
                        <br>
                        <div class="form-check form-check-inline row">
                            <div class="col-auto">
                                <input class="form-check-input d-lg-inline-flex" type="checkbox" name="prcsCd" id="inlineRadio4" value="1" onclick="agreeAll(this);">
                                <label class="form-check-label d-lg-inline-flex text-break krFont small" for="inlineRadio4">주의사항을 읽고 대행신청 및 진행에 대한 책임은 신청자 본인에게 있음을 동의합니다.</label>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                <!-- Submit Button-->
                <div class="d-grid">
                    <button type="button" class="btn btn-primary rounded-pill btn-lg" id="submitButton" disabled>신청하기</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>


    <div class="modal fade" id="loginFormModal" tabindex="-1"  aria-labelledby="loginFormModalLabel" aria-hidden="true" role="dialog"  data-bs-backdrop='static' data-bs-keyboard="false" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">
                    <h5 class="modal-title font-alt text-white krFont" id="loginFormModalLabel">로그인</h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <form id="loginFrm" class="user" method="post" action="/loginProcess">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="text" placeholder=""/>
                            <label for="email" class="krFont">ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password" placeholder=""/>
                            <label for="password" class="krFont">PASSWORD</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary rounded-pill btn-lg" type="submit">login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>


