<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="~{layout/head :: head}"></head>
    <body id="page-top">
    <div th:insert="~{layout/loading :: loading}"></div>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <img class="navbar-brand fw-bold" src="/image/old_logo.png" alt="..." style="height: 2.5rem"/>


            <button type="button" class="btn btn-primary rounded-pill px-3 mb-lg-0" onclick="contact();">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="xl-small">구매대행 신청하기</span>
                        </span>
            </button>



        </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">

                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
<!--                        <h1 class="display-1 lh-1 mb-3">-->

<!--                        </h1>-->
                        <p class="lead fw-normal text-muted mb-5 krFont">
                            리플(XRP), 이더리움(ETH), 비트코인(BTC) <br>
                            암호화폐 구매 및 전송 소액 전문 대행 업체
                        </p>

                        <p class="l-small krFont">
                            암호화폐 거래소 이용이 어렵거나, 지갑 이용이 어려워
                            코인으로 사이트 결제를 하지 못하는 분들께
                            대행을 통하여 도움을 드립니다.

                        </p>

                        <div class="d-flex flex-column flex-lg-row align-items-center">

                        </div>
                    </div>
                </div>

                <button class="btn btn-outline-dark py-3 px-4 rounded-pill krFont" onclick="contact();">구매대행 신청하기</button>
                <div th:insert="~{layout/modal :: modal}"></div>
            </div>
        </div>
    </header>

    <!-- Quote/testimonial aside-->
    <aside class="text-center bg-gradient-primary-to-secondary">
<!--        <div class="container px-5">-->
<!--            <div class="row gx-5 justify-content-start">-->
<!--                <div class="col-xl-8">-->
                <div class="container">
<!--                    <a class="btn btn-outline-dark py-3 px-4 rounded-pill" href="https://startbootstrap.com/theme/new-age" target="_blank">구매대행 신청하기</a>-->
<!--                    <div class="h2 fs-1 text-white mb-4">-->
<!--                        리플(XRP), 이더리움(ETH), 비트코인(BTC) <br>-->
<!--                        암호화폐 구매 및 전송 소액 전문 대행 업체-->
<!--                    </div>-->
<!--                    <p class="x-small text-white-50">-->
<!--                        암호화폐 거래소 이용이 어렵거나, 지갑 이용이 어려워-->
<!--                        코인으로 사이트 결제를 하지 못하는 분들께-->
<!--                        대행을 통하여 도움을 드립니다.-->
<!--                    </p>-->

<!--                    <img src="/image/tnw-logo.svg" alt="..." style="height: 3rem" />-->
                    <div class="row text-center">
                        <div class="col-md-4">
                            <img src="/image/ic/bitcoin_ic.png" style="height:70px;"></img>
                            <h4 class="my-3">Bit-Coin</h4>
                            <p class="text-muted text-white-50 krFont" id="KRW-BTC"> - 원</p>
                        </div>

                        <div class="col-md-4">
                            <img src="/image/ic/ethereum_ic.png" style="width:70px;">
                            <h4 class="my-3">Ethereum</h4>
                            <p class="text-muted text-white-50 krFont" id="KRW-ETH"> - 원</p>
                        </div>

                        <div class="col-md-4">
                            <img src="/image/ic/ripple_ic.png" style="width:70px;">
                            <h4 class="my-3">Ripple</h4>
                            <p class="text-muted text-white-50 krFont" id="KRW-XRP"> - 원</p>
                        </div>

                    </div>
                </div>
<!--            </div>-->
<!--        </div>-->
    </aside>


    <aside class="text-center bg-light">

        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <table class="table table-borderless">

                    <tbody>
                    <tr>
                        <th class=" text-start krFont" style="width:30%">카카오 오픈채팅</th>
                        <td class="text-white-50 align-middle text-start" style="width:70%">
                            <a class="text-break" href="https://open.kakao.com/o/sKFZumLb"> https://open.kakao.com/o/sKFZumLb </a>
                        </td>
                    </tr>

                    <tr>
                        <th class=" text-start krFont" style="width:30%">텔레그램 ID</th>
                        <td class=" align-middle text-start" style="width:70%">
                            <a class="" href="https://t.me/svcoin"> @svcoin </a>
                        </td>
                    </tr>

                    <tr>
                        <th class="text-start krFont" style="width:30%">모바일</th>
                        <td class="align-middle text-start" style="width:70%">
                            <a class="" href="sms:010-9718-9766"> 010-9718-9766 </a>
                        </td>
                    </tr>

                    <tr>
                        <th class="text-start krFont" style="width:30%">이메일</th>
                        <td class="align-middle text-start" style="width:70%">
                            <a class="text-break" href="mailto:svcoin66@gmail.com"> svcoin66@gmail.com </a>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>



    </aside>

    <!-- App features section-->

    <!-- Basic features section-->

    <!-- Call to action section-->

    <!-- App badge section-->

    <!-- Footer-->
    <footer th:insert="~{layout/footer :: footer}"></footer>

    <!-- Core theme JS-->
    <!--        <script src="js/scripts.js"></script>-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!--    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
    <script th:src="@{/assets/js/index.js}"></script>
    </body>
</html>
