<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.broker.front.mapper.FrontMngMapper">

	<select id="findFrontMngInfo" resultType="com.coin.broker.front.model.FrontMng">
		/*점검관리정보 조회*/
		SELECT
			*
		FROM
			front_mng
		order by reg_dttm desc
		limit 1
	</select>

	<insert id="save" parameterType="com.coin.broker.front.model.FrontMng">
		insert into front_mng (
			 open_time
			, close_time
			, mtn_yn
			, mtn_msg_yn
			, mtn_msg
			, ntc_1_title
			, ntc_2_title
			, ntc_1_msg
			, ntc_2_msg
			, ntc_1_yn
			, ntc_2_yn
			, reg_dttm
			, mod_dttm
		) values (
			#{openTime},
			#{closeTime},
			#{mtnYn},
			#{mtnMsgYn},
			#{mtnMsg, jdbcType=VARCHAR},
			#{ntc1Title, jdbcType=VARCHAR},
			#{ntc2Title, jdbcType=VARCHAR},
			#{ntc1Msg, jdbcType=VARCHAR},
			#{ntc2Msg, jdbcType=VARCHAR},
			#{ntc1Yn},
			#{ntc2Yn},
			now(),
			now()
		)
	</insert>

</mapper>