<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.broker.front.mapper.FrontMngMapper">

	<select id="findFrontMngInfo" resultType="com.coin.broker.front.model.FrontMng">
		/*점검관리정보 조회*/
		SELECT
			idx, title, contents, mtn_yn, reg_dttm
		FROM
			front_mng
		WHERE
			MTN_YN = '1'
		order by idx DESC
			limit 1
	</select>

</mapper>