<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.broker.front.mapper.TransReqMasMapper">

	<update id="insert" parameterType="com.coin.broker.front.model.TransReqMas">
		insert into trans_req_mas (
		    reqno,
			coin_type,
		    charge_cd,
			req_amt,
			charge_amt,
			tot_req_amt,
			send_coin,
			to_wallet_addr,
			dstnt_tag,
			depos_nm,
			phone_no,
			rsn_ctnt,
			device_type,
			referer_url,
			mod_dttm,
			prcs_cd,
			trade_price,
			client_ip,

			final_send_coin,
		<if test="rcptDttm != null and rcptDttm != '' ">
			rcpt_dttm,
		</if>
			bank_cd,
			transaction_id,

			reg_dttm
		)
		values (
			#{reqno},
			#{coinType      },
			#{chargeCd      },
			#{reqAmt        },
			#{chargeAmt     },
			#{totReqAmt     },
			#{sendCoin      },
			#{toWalletAddr  },
			#{dstntTag      },
			#{deposNm       },
			#{phoneNo       },
			#{rsnCtnt       },
			#{deviceType    },
			#{refererUrl    },
			now(),
			#{prcsCd        },
			#{tradePrice    },
			#{clientIp},
			#{finalSendCoin},
		<if test="rcptDttm != null and rcptDttm != '' ">
			now(),
		</if>
			#{bankCd},
			#{transactionId},
			now()
		)
		ON DUPLICATE KEY UPDATE
			coin_type = 	#{coinType      },
			charge_cd= 		#{chargeCd      },
			req_amt= 		#{reqAmt        },
			charge_amt=		#{chargeAmt     },
			tot_req_amt=	#{totReqAmt     },
			send_coin=		#{sendCoin      },
			to_wallet_addr=	#{toWalletAddr  },
			dstnt_tag=		#{dstntTag      },
			depos_nm=		#{deposNm       },
			phone_no=		#{phoneNo       },
			rsn_ctnt=		#{rsnCtnt       },
			device_type=	#{deviceType    },
			referer_url=	#{refererUrl    },
			mod_dttm=		now(),
			prcs_cd=		#{prcsCd        },
			trade_price=	#{tradePrice    },
			client_ip=		#{clientIp},

			final_send_coin= #{finalSendCoin},
			<if test="rcptDttm != null and rcptDttm != '' ">
				rcpt_dttm = now(),
			</if>
			bank_cd =		 #{bankCd},
			transaction_id = #{transactionId},

			mod_dttm=		now()
	</update>

	<select id="findRecentReqList" resultType="Integer">
		select count(*)
		from trans_req_mas
		where phone_no = ${phoneNo}
	  	and (prcs_cd is null or prcs_cd not in ('6', '7'))
		order by reg_dttm desc
		limit 10
	</select>

	<select id="findAdminTransReqList" resultType="com.coin.broker.front.model.TransReqMas">
		SELECT
			reqno,
			coin_type,
			charge_cd,
			req_amt,
			charge_amt,
			tot_req_amt,
			send_coin,
			to_wallet_addr,
			dstnt_tag,
			depos_nm,
			phone_no,
			rsn_ctnt,
			device_type,
			referer_url,
			mod_dttm,
			prcs_cd,
			trade_price,
			reg_dttm,
			(select com_nm from com_cd_mas z where z.com_cd = a.prcs_cd and z.group_cd = 'prcs_cd') as prcs_nm
		FROM trans_req_mas a
		WHERE
		    1=1
			<if test="reqno != null and reqno != '' ">
				AND reqno = #{reqno}
			</if>
		<if test="length &gt; 0">
			ORDER BY reg_dttm DESC
			limit #{length} offset #{start}
		</if>

	</select>

	<select id="findAdminTransReqCnt" resultType="Integer">
		SELECT count(1) FROM trans_req_mas
	</select>

	<select id="findNewRequest" resultType="Integer">
		select count(*)from (
			select prcs_cd from trans_req_mas
			order by reg_dttm desc limit 10
		) a
		where a.prcs_cd = '1'
	</select>

	<select id="findTransReqDtl" resultType="com.coin.broker.front.model.TransReqMas">
		SELECT
			a.reqno,
			coin_type,
			charge_cd,
			req_amt,
			charge_amt,
			tot_req_amt,
			send_coin,
			to_wallet_addr,
			dstnt_tag,
			depos_nm,
			phone_no,
			rsn_ctnt,
			device_type,
			referer_url,
			a.mod_dttm,
			prcs_cd,
			trade_price,
			a.reg_dttm,
			(select com_nm from com_cd_mas z where z.com_cd = a.prcs_cd and z.group_cd = 'prcs_cd') as prcs_nm,
			c.memo,
			client_ip,
            bank_cd,
			final_send_coin,
			rcpt_dttm,
			bank_cd,
			transaction_id
		FROM trans_req_mas a
		LEFT OUTER JOIN wlt_addr_mng c
		ON a.to_wallet_addr = c.wlt_addr
		WHERE
		    a.reqno = #{reqno}
	</select>

	<select id="findCusTransCnt" resultType="com.coin.broker.front.model.TransReqMas">
		select
		    count(*) as prcs_cd6_cnt
			, max(rcpt_dttm) as rcpt_dttm
		from trans_req_mas
		where prcs_cd = '6' -- 거래완료
		  and phone_no = #{phoneNo}
	</select>

	<select id="findMmsFormats" resultType="com.coin.broker.admin.model.MmsFormatMas">
		select
		    *
		from
		    mms_format_mas
		order by
		    prcs_cd asc
	</select>

	<update id="transPrcsCdUpdate" parameterType="com.coin.broker.front.model.TransReqMas">
		update trans_req_mas set
			prcs_cd = #{prcsCd},
			mod_dttm = now()
		where
			reqno = #{reqno}

	</update>

</mapper>