<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.broker.front.mapper.TransReqMasMapper">

	<update id="insert" parameterType="com.coin.broker.front.model.TransReqMas">
		insert into trans_req_mas (
			coin_type,
		    charge_cd,
			req_amt,
			charge_amt,
			tot_req_amt,
			send_coin,
			to_wallet_addr,
			dstnt_tag,
			depos_nm,
			phone_no,
			rsn_ctnt,
			device_type,
			referer_url,
			mod_dttm,
			prcs_cd,
			trade_price,
		    reg_dttm
		)
		values (
			#{coinType      },
			#{chargeCd      },
			#{reqAmt        },
			#{chargeAmt     },
			#{totReqAmt     },
			#{sendCoin      },
			#{toWalletAddr  },
			#{dstntTag      },
			#{deposNm       },
			#{phoneNo       },
			#{rsnCtnt       },
			#{deviceType    },
			#{refererUrl    },
			#{modDttm       },
			#{prcsCd        },
			#{tradePrice    },
			now()
		)
	</update>

	<select id="findRecentReqList" resultType="Integer">
		select count(*)
		from trans_req_mas
		where phone_no = ${phoneNo}
	  	and (prcs_cd is null or prcs_cd not in ('6', '7'))
		order by reg_dttm desc
		limit 10
	</select>

	<select id="findAdminTransReqList" resultType="com.coin.broker.front.model.TransReqMas">
		SELECT
			reqno,
			coin_type,
			charge_cd,
			req_amt,
			charge_amt,
			tot_req_amt,
			send_coin,
			to_wallet_addr,
			dstnt_tag,
			depos_nm,
			phone_no,
			rsn_ctnt,
			device_type,
			referer_url,
			mod_dttm,
			prcs_cd,
			trade_price,
			reg_dttm,
			(select com_nm from com_cd_mas z where z.com_cd = a.prcs_cd and z.group_cd = 'prcs_cd') as prcs_nm
		FROM trans_req_mas a
		ORDER BY reg_dttm DESC
			limit #{length} offset #{start}
	</select>

	<select id="findAdminTransReqCnt" resultType="Integer">
		SELECT count(1) FROM trans_req_mas
	</select>

	<select id="findNewRequest" resultType="Integer">
		select count(1) from trans_req_mas where prcs_cd = '1'
	</select>

</mapper>